@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans&display=swap');

/* Fondo */
body {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: monospace;
    line-height: 1.5;
    min-height: 100vh;
    background-color: #BFD7FF;
    flex-direction: column;
    margin: 0;
}

/* Cuadrito donde está la info */
.main{
    background-color: white;
    border-radius: 15px;
    box-shadow: 0 0 20px #788BFF;
    padding: 10px 20px;
    transition: transform 0.2s;
    width: 800px;
    height:490px;
    text-align: center;
}

/* Colores de texto */ 
.login {
    font-family: "Press Start 2P";
    color: #7085d3;
    font-size:xx-large;
    text-align: center;
}

.introducirDatos {
    font-family: "Pixelify Sans";
    color: #7085d3;
    font-size:x-large;
    text-align: center;
}

p {
    font-family: monospace;
    font-size:large;
    color: #5465FF;
}

a {
    font-family: monospace;
    font-size: large;
    border: 3px outset #5465FF;
    margin: 20px;
    padding: 5px;
    text-decoration: none;
    color:#5465FF;
}

/* "Usuario" y "contraseña */
label {
    font-family: "Pixelify Sans";
    display: block;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 5px;
    font-size: x-large;
    text-align: left;
    color: #788BFF;;
    font-weight: bold;
}

/* */
input {
    font-size: larger;
    font-family: monospace;
    display: block;
    width: 100%;
    margin-bottom: 15px;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #7085d3;
    border-radius: 5px;
}

/* Boton */
button {
    font-family: "Press Start 2P";
    padding: 15px;
    border-radius: 10px;
    margin-top: 15px;
    margin-bottom: 15px;
    border: none;
    color: white;
    cursor: pointer;
    background-color: #7085d3;;
    width: 100%;
    font-size: 16px;
}

.wrap {
    display: flex;
    justify-content: center;
    align-items: center;
}

.corner-display {
    position: fixed;       
    top: 10px;
    left: 10px;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 10px 40px;
    border-radius: 10px;
    font-size: 15px;
    box-shadow: 0 0 8px rgba(0,0,0,0.3); 
    z-index: 1000;
}