@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans&display=swap');
/* Fondo */
body {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: monospace;
    line-height: 1.5;
    min-height: 100vh;
    background: white;
    flex-direction: column;
    margin: 0;
}

/* Cuadrito donde está la info */
.main{
    background-color: white;
    opacity: 90%;
    border-radius: 15px;
    box-shadow: 0 0 20px gray;
    padding: 10px 20px;
    transition: transform 0.2s;
    width: 800px;
    height: 500px;
    text-align: center;
}

/* Colores de texto */ 
h1 {
    color: #bc4b51;
}

h3 {
    color: #bc4b51
}

p {
    color: #bc4b51
}

a {
    color: black
}

/* "Usuario" y "contraseña */
label {
    display: block;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 5px;
    text-align: left;
    color: black;
    font-weight: bold;
}

/* */
input {
    display: block;
    width: 100%;
    margin-bottom: 15px;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #ffff;
    border-radius: 5px;
}

/* Boton */
button {
    padding: 15px;
    border-radius: 10px;
    margin-top: 15px;
    margin-bottom: 15px;
    border: none;
    color: white;
    cursor: pointer;
    background-color: #bc4b51;
    width: 100%;
    font-size: 16px;
}

.wrap {
    display: flex;
    justify-content: center;
    align-items: center;
}

.corner-display {
    position: fixed;       
    top: 10px;
    left: 10px;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 10px 40px;
    border-radius: 10px;
    font-size: 15px;
    box-shadow: 0 0 8px rgba(0,0,0,0.3); 
    z-index: 1000;
}