@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans&display=swap');

body {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: monospace;
    line-height: 1.5;
    min-height: 100vh;
    background: #F4E285;
    margin: 0;
    flex-direction: column;
}

.main {
    background-color: white;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0,0,0,0.5);
    padding: 20px;
    transition: transform 0.2s;
    width: 1000px;
    height: 500px;
    max-width: calc(100% - 40px);
    /* no uses height fija; usar min-height si quieres */
    min-height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center; /* centra verticalmente el contenido dentro de .main */
    align-items: center;     /* centra horizontalmente */
    text-align: center;
    box-sizing: border-box;
    font-size: xx-large;
}

h2 {
    color: #f4c26f;
    margin: 0 0 20px 0;
    font-size: 70px;
    font-weight: 800;
    font-family: "Press Start 2P"
}
p{
    color: #F4A259;
    font-family:"Pixelify Sans";
    font-size: 30px;
    margin: 0 0 20px 0;
}

.mi-boton {
    background: #F4A259;
    padding: 10px 20px;
    border: transparent;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s, color 0.3s;
    display: block;
    margin-top: 30px; /* separa los botones */
    margin-left: 30px;
    margin-right: 30px;
    font-family: monospace;
    color:rgb(160, 100, 40);
}

button:hover {
    transform: scale(1.1);
}

.mi-boton:hover {
    color: papayawhip;
    Background-color: #F4A259;
}

.warp {
    display: flex;
    gap: 12px;
    margin-top: 12px;
    justify-content: center;
    align-items: center;
}

.corner-display {
    position: fixed;       
    top: 10px;
    left: 10px;
    padding: 10px 40px;
    border-radius: 10px;
    font-size: 10px;
    opacity: 40%;
    z-index: 1000;
    font-family: "Press Start 2P";
    color: rgb(255, 157, 0);
    font-size: 7px;
}

.container {
    position: fixed;
    bottom: 10px;
    right: 10px;
    z-index: 1000;
}
  
  .salida{
    top: 12px;
    right: 35px;
    position: fixed;
    margin: 0;
    z-index: 9999;
    background: rgb(188, 75, 81);
    border: 1px solid #ccc;
    padding: 10px 20px;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    font-size: 30px;
    transition: background-color 0.3s, color 0.3s;
    display: block;
    margin-top: 15px;
    font-family: "Pixelify Sans";
  }