@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans&display=swap');
/* Fondo */
body {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: sans-serif;
    line-height: 1.5;
    min-height: 100vh;
    background: #d0585e;
    flex-direction: column;
    margin: 0;
}

/* Cuadrito donde está la info */
.main_registro{
    background-color: white;
    opacity: 90%;
    border-radius: 15px;
    box-shadow: 0 0 20px #95363a;
    padding: 10px 20px;
    transition: transform 0.2s;
    width: 800px;
    height: 500px;
    text-align: center;
}

/* Colores de texto */ 
.registro {
    font-family: "Press Start 2P";
    font-size:xx-large;
    text-align: center;
    color: #bc4b51;
}

.creacion_cuenta {
    color: #bc4b51;
    font-family: "Pixelify Sans";
    font-size: x-large;
    text-align: center;
}

p {
    font-family: monospace;
    font-size:large;
    color: #bc4b51
}

a {
    font-family: monospace;
    font-size: medium;
    border: 3px outset #bc4b51;
    margin: 20px;
    padding: 5px;
    text-decoration: none;
    font-size:large;
    color: #bc4b51;
}

/* "Usuario" y "contraseña */
label {
    font-family: "Pixelify Sans";
    display: block;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 5px;
    font-size: x-large;
    text-align: left;
    color: #bc4b51;;
    font-weight: bold;
}

/* */
input {
    font-size: larger;
    font-family: monospace;
    display: block;
    width: 100%;
    margin-bottom: 15px;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #bc4b51;
    border-radius: 5px;
}

/* Boton */
button {
    font-family: "Press Start 2P";
    padding: 15px;
    border-radius: 10px;
    margin-top: 15px;
    margin-bottom: 15px;
    border: none;
    color: white;
    cursor: pointer;
    background-color: #bc4b51;;
    width: 100%;
    font-size: 16px;
}

.wrap {
    display: flex;
    justify-content: center;
    align-items: center;
}

.corner-display {
    position: fixed;       
    top: 10px;
    left: 10px;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 10px 40px;
    border-radius: 10px;
    font-size: 15px;
    box-shadow: 0 0 8px rgba(0,0,0,0.3); 
    z-index: 1000;
}