<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8" />
    <title>HTML LOGIN PRUEBA</title>
    <!-- Referencia al CSS en la carpeta static -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
</head>
<body>
    <div class="main">
        <label class="login" for="input1">Login</label>
        <label class="introducirDatos" for="input1">Introduce tus datos</label>

        <!-- Si Flask manda un mensaje de error, se muestra aquí -->
        {% if error %}
            <p style="color: red; font-weight: bold;">{{ error }}</p>
        {% endif %}

        <!-- Formulario que manda los datos al backend -->
        <form action="{{ url_for('login') }}" method="post">
            <label for="usuario">Usuario:</label>
            <input type="text" id="usuario" name="usuario" placeholder="Introduzca su usuario" required>

            <label for="password">Contraseña:</label>
            <input type="password" id="password" name="password" placeholder="Introduzca su contraseña" required>

            <div class="wrap">
                <button type="submit">Mandar</button>
            </div>
        </form>

        <p>¿No te has registrado?</p>
        <label class="registro" for href="{{ url_for('register') }}" style="text-decoration: none;">Crear una cuenta</label>

    </div>
</body>
</html>
