<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8">
    <title>PREGUNTA DEL DÍA</title>
    <link rel="stylesheet" href="static/css/pregunta.css">
</head>
<body>
    <div class="main">
        <h2>Pregunta del día</h2> 
        <p>wuju yay epico super pro pregunta del día wow esto<br>es tan epico papus wow yay esto es<br>una prueba muy necesaria de mucho texto y sexo<br>the game<br>glowing broccoli</p>
    <div class="warp">
        <button class="mi-boton">Opción 1</button>
        <button class="mi-boton">Opción 2</button>
        <button class="mi-boton">Opción 3</button>
        <button class="mi-boton">Opción 4</button>
    </div>
    </div>
</body>
</html>