<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8">
    <title>PREGUNTA DEL DÍA</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/pregunta.css') }}">
</head>
<body>
    <div class="main">
        <h2>TRIVIA</h2> 
        <p>{{ texto }} </p>
    <form action="{{ url_for('verificar_respuesta') }}" method="POST">
        <div class="warp">
            <button type="submit" name="respuesta" value="{{ r1 }}" class="mi-boton">{{ r1 }}</button>
            <button type="submit" name="respuesta" value="{{ r2 }}" class="mi-boton">{{ r2 }}</button>
            <button type="submit" name="respuesta" value="{{ r3 }}" class="mi-boton">{{ r3 }}</button>
            <button type="submit" name="respuesta" value="{{ r4 }}" class="mi-boton">{{ r4 }}</button>
        </div>
    </form>
    <div class="corner-display">
    <h1>Usuario: {{ user }}</h1>
    <h1>Puntaje: {{ score }}</h1>
    </div>
    <div class="container">
        <form action="{{ url_for('menu') }}" method="GET">
            <button type="submit" class="salida">Exit</button>
        </form>
    </div>
</body>
</html>